@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Work Sans', sans-serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.rubik {
  font-family: 'Rubik', sans-serif;
}